.dropdown-caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  content: "";
  border-style: solid;
  border-width: 4px 4px 0;
  border-top-color: theme("colors.gray.700");
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

a:hover .dropdown-caret,
a:focus .dropdown-caret {
  border-top-color: black;
}
