.form-control {
  /* ring-0 is required to enable transition to ring-x of the focused form-control */
  @apply tw-ring-0;
  @apply tw-transition;
  @apply tw-duration-150;
  @apply tw-ease-in-out;
  @apply tw-rounded-md;
}

.form-control:focus,
.duet-date__input:focus,
.duet-date__toggle:focus {
  /* reset bootstrap stuff */
  border-color: inherit !important;
  box-shadow: none;
  /* and add custom styling */
  @apply tw-ring-2 !important;
  @apply tw-ring-blue-300 !important;
}

.input-group {
  @apply tw-rounded-md !important;
  @apply tw-border;
  @apply tw-transition;
  border-color: #ccc;
}

.input-group.has-error {
  @apply tw-border-red-700;
}

.input-group .form-control {
  /* remove border of form-control since the input-group defines it */
  @apply tw-border-0 !important;
  /* no right rounded corners since there is an input-group-addon attached to the right */
  @apply tw-rounded-r-none !important;
}

.input-group .input-group-addon {
  /* remove border of input-group-addon since the input-group defines it */
  @apply tw-border-0 !important;
  /* however, left border should still be visible */
  @apply tw-border-l-2 !important;
  border-color: #ccc;
}

.input-group:focus-within {
  @apply tw-ring-2;
  @apply tw-ring-blue-300;
  @apply tw-border-transparent;
}

.input-group .form-control:focus {
  /* reset ring since input-group defines it already */
  @apply tw-ring-0 !important;
  @apply tw-border-transparent;
}

/**************************************************************************

  REQUIRED FORM FIELDS

**************************************************************************/

.form-group.is-required > label:after {
  content: "*";
}

/**************************************************************************

  HORIZONTAL FORM

**************************************************************************/

.form-horizontal .control-label {
  text-align: left;
}

.form-horizontal .halves {
  width: 45%;
}

.form-horizontal .thirds {
  width: 30%;
}

/**************************************************************************

  FORM VALIDATION ERRORS

**************************************************************************/

.error {
  @apply tw-text-red-800;
}

input.error,
textarea.error {
  @apply tw-border-red-700;
}

.info {
  color: #3a87ad;
}

/**************************************************************************

  APPLICATION FOR LEAVE DETAILS FORM

**************************************************************************/

.action-form {
  /* will be displayed when needed by javascript */
  display: none;
}

/**************************************************************************

  SINGLE COLUMN FORM

**************************************************************************/

.form-section .help-block {
  margin-top: 0;
}

/**************************************************************************

  DEPARTMENT FORM

**************************************************************************/

.department--members {
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: auto;
  max-height: 400px;
  width: 100%;
}

.department--member {
  border-bottom: 1px solid #ddd;
  display: table;
  width: 100%;
}

.department--member.is-assigned {
  background-color: #e8efd1;
}

.department--member.is-inactive {
  background-color: #fff4ea;
}

.department--member:last-child {
  border-bottom: none;
}

.department--member-image,
.department--member-assignment {
  padding: 12px;
  display: table-cell;
  vertical-align: middle;
}

.department--member-image {
  width: 1px;
  padding-left: 24px;
}

.department--member-info {
  margin: 0;
}

.department--member-assignment > .checkbox > label {
  display: block;
}

.department--member-assignment > .checkbox > label > input[type="checkbox"] {
  margin-top: 2px;
}

/**************************************************************************

  SEARCH FIELD

**************************************************************************/

.search-field {
  margin-bottom: 21px;
}
