th.vacationOverview-cal-head.today {
  --vacation-overview-rows: 0;
  position: relative;
}
th.vacationOverview-cal-head.today::before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  @apply tw-border;
  @apply tw-border-white;
}
th.vacationOverview-cal-head.today::after {
  content: "";
  border-width: 3px;
  @apply tw-border-gray-500;
  @apply tw-border-opacity-40;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* head row height + (x * person height)  */
  height: calc(100% + (var(--vacation-overview-rows) * 2.8125rem));
  z-index: 1;
}

@media print {
  th.vacationOverview-cal-head.today::before,
  th.vacationOverview-cal-head.today::after {
    display: none;
  }
}

.vacationOverview-table th,
.vacationOverview-table td {
  color: #444444 !important;
  border: 1px solid #ffffff;
  font-weight: normal;
}

.vacationOverview-table td {
  text-align: center;
}

.vacationOverview-table thead th {
  padding: 8px;
  cursor: default !important; /* override $.tablesorter */
}

.vacationOverview-table tbody th {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 0;
  padding-right: 16px;
}

.vacationOverviewLegend {
  margin-top: 15px;
}

.vacationOverview-legend-colorbox {
  border: 3pt solid #fff;
  width: 23px;
}

.vacationOverview-legend-text {
  padding: 2px 10px;
}

.vacationOverview-day-today-legend {
  box-shadow: inset 0 0 0 3px rgba(95, 95, 95, 0.5);
}

.cal-day,
.vacationOverview-legend-colorbox {
  --bg-left-hue: 0;
  --bg-left-saturation: 0%;
  --bg-left-lightness: 90%;
  --bg-left-opacity: 1;
  --bg-right-hue: 0;
  --bg-right-saturation: 0%;
  --bg-right-lightness: 90%;
  --bg-right-opacity: 1;
}

.vacationOverview-cal-head {
  --bg-left-hue: 0;
  --bg-left-saturation: 0%;
  --bg-left-lightness: 100%;
  --bg-left-opacity: 1;
  --bg-right-hue: 0;
  --bg-right-saturation: 0%;
  --bg-right-lightness: 100%;
  --bg-right-opacity: 1;
}

.cal-day,
.vacationOverview-cal-head,
.vacationOverview-legend-colorbox {
  background: linear-gradient(
    90deg,
    hsla(var(--bg-left-hue), var(--bg-left-saturation), var(--bg-left-lightness), var(--bg-left-opacity)) 50%,
    hsla(var(--bg-right-hue), var(--bg-right-saturation), var(--bg-right-lightness), var(--bg-right-opacity)) 50%
  ) !important;
}

@media print {
  .cal-day,
  .vacationOverview-legend-colorbox {
    --bg-left-lightness: 100%;
    --bg-right-lightness: 100%;
  }
}

.absence-full,
.absence-morning {
  --bg-left-hue: 49;
  --bg-left-saturation: 100%;
  --bg-left-lightness: 81%;
}
.absence-full,
.absence-noon {
  --bg-right-hue: 49;
  --bg-right-saturation: 100%;
  --bg-right-lightness: 81%;
}

.vacation-full-waiting,
.vacation-morning-waiting {
  --bg-left-hue: 48;
  --bg-left-saturation: 100%;
  --bg-left-lightness: 70%;
}
.vacation-full-waiting,
.vacation-noon-waiting {
  --bg-right-hue: 48;
  --bg-right-saturation: 100%;
  --bg-right-lightness: 70%;
}

.vacation-full-approved,
.vacation-morning-approved {
  --bg-left-hue: 49;
  --bg-left-saturation: 100%;
  --bg-left-lightness: 81%;
}
.vacation-full-approved,
.vacation-noon-approved {
  --bg-right-hue: 49;
  --bg-right-saturation: 100%;
  --bg-right-lightness: 81%;
}

.sick-note-full,
.sick-note-morning {
  --bg-left-hue: 6;
  --bg-left-saturation: 100%;
  --bg-left-lightness: 87%;
}
.sick-note-full,
.sick-note-noon {
  --bg-right-hue: 6;
  --bg-right-saturation: 100%;
  --bg-right-lightness: 87%;
}

.public-holiday-full,
.public-holiday-morning {
  --bg-left-hue: 201;
  --bg-left-saturation: 40%;
  --bg-left-lightness: 79%;
}
.public-holiday-full,
.public-holiday-noon {
  --bg-right-hue: 201;
  --bg-right-saturation: 40%;
  --bg-right-lightness: 79%;
}

.weekend {
  --bg-left-hue: 201;
  --bg-left-saturation: 40%;
  --bg-left-lightness: 79%;
  --bg-right-hue: 201;
  --bg-right-saturation: 40%;
  --bg-right-lightness: 79%;
}

@media print {
  .vacationOverview-table th,
  .vacationOverview-table td {
    border: 1px solid #e2e8f0 !important;
  }

  .vacationOverview-table thead th {
    font-weight: 600 !important;
    padding: 4pt 8pt;
  }

  .vacationOverview-table tbody th {
    font-weight: 300 !important;
    padding: 4pt 8pt;
  }

  .vacationOverview-table-legend th {
    text-align: center;
    padding: 0 12pt;
    font-weight: 300 !important;
  }

  .public-holiday-full,
  .public-holiday-morning {
    --bg-left-lightness: 100%;
  }
  .public-holiday-full,
  .public-holiday-noon {
    --bg-right-lightness: 100%;
  }

  .weekend {
    --bg-left-lightness: 100%;
    --bg-right-lightness: 100%;
  }
}
