duet-date-picker {
  --duet-color-button: #eee;
}

duet-date-picker.form-control {
  padding: 0;
}

.duet-date {
  height: 100%;
}

.duet-date__input-wrapper {
  height: 100%;
}

duet-date-picker.error {
  @apply tw-border-red-700;
}

.duet-date__input {
  border: none;
  /* padding of bootstrap form-control */
  padding: 6px 12px;
  height: 100%;
}

.duet-date__day.datepicker-day,
.duet-date__day.datepicker-day:not(.is-month) {
  /* override padding of .datepicker-day */
  padding: 0;
  /* override duet stuff */
  opacity: 1;
  background: linear-gradient(90deg, var(--background-color-left) 50%, var(--background-color-right) 50%);
  color: var(--font-color);
}

.duet-date__day.datepicker-day-today {
  box-shadow: inset 0 0 0 3px rgba(95, 95, 95, 0.3);
}

/* override styling for selected or currently focused day */
.duet-date__day.datepicker-day:focus,
.duet-date__day.datepicker-day[aria-pressed="true"] {
  background: var(--duet-color-primary);
  color: var(--duet-color-text-active);
  box-shadow: 0 0 5px var(--duet-color-primary);
  z-index: 200;
}

.duet-date__table-header {
  text-align: center;
}

.duet-date__day {
  border-radius: 0;
  width: 100%;
}

.duet-date__day:hover::before,
.duet-date__day.is-today::before {
  border-radius: 0;
}

.duet-date__toggle {
  /* use (nearly) same width like 'overtime minute input' */
  min-width: 3.25rem;
  /* disable duet box-shadow */
  box-shadow: none;
  height: 100%;
  top: 0;
  right: 0;
}

.duet-date__input-wrapper:focus-within .duet-date__toggle {
  top: 1px;
  right: 1px;
  height: calc(100% - 2px);
  min-width: calc(3.25rem - 1px);
}

.duet-date__input,
.duet-date__toggle {
  /* ring-0 is required to enable transition to ring-x of the focused element */
  @apply tw-ring-0;
  @apply tw-transition;
  @apply tw-duration-150;
  @apply tw-ease-in-out;
}

.duet-date__input:focus,
.duet-date__toggle:focus {
  box-shadow: none !important;
  @apply tw-ring-2 !important;
  @apply tw-ring-blue-300 !important;
}
