<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:asset="http://www.w3.org/1999/xhtml">
<head th:fragment="head(title, scripts)">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title th:replace="${title}">Page Title</title>

  <link rel="manifest" th:href="@{/manifest.json}"/>
  <link rel="icon" type="image/png" th:href="@{/favicons/favicon.png}"/>
  <link rel="apple-touch-icon" th:href="@{/favicons/apple-icon.png}"/>
  <link rel="apple-touch-icon" th:href="@{/favicons/apple-icon-57x57.png}" sizes="57x57"/>
  <link rel="apple-touch-icon" th:href="@{/favicons/apple-icon-60x60.png}" sizes="60x60"/>
  <link rel="apple-touch-icon" th:href="@{/favicons/apple-icon-72x72.png}" sizes="72x72"/>
  <link rel="apple-touch-icon" th:href="@{/favicons/apple-icon-76x76.png}" sizes="76x76"/>
  <link rel="apple-touch-icon" th:href="@{/favicons/apple-icon-114x114.png}" sizes="114x114"/>
  <link rel="apple-touch-icon" th:href="@{/favicons/apple-icon-120x120.png}" sizes="120x120"/>
  <link rel="apple-touch-icon" th:href="@{/favicons/apple-icon-128x128.png}" sizes="128x128"/>
  <link rel="apple-touch-icon" th:href="@{/favicons/apple-icon-144x144.png}" sizes="144x144"/>
  <link rel="apple-touch-icon" th:href="@{/favicons/apple-icon-152x152.png}" sizes="152x152"/>
  <link rel="apple-touch-icon" th:href="@{/favicons/apple-icon-180x180.png}" sizes="180x180"/>
  <link rel="apple-touch-icon" th:href="@{/favicons/apple-icon-precomposed.png}"/>
  <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicons/favicon-16x16.png}"/>
  <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicons/favicon-32x32.png}"/>
  <link rel="icon" type="image/png" sizes="96x96" th:href="@{/favicons/favicon-96x96.png}"/>
  <link rel="icon" type="image/png" sizes="160x160" th:href="@{/favicons/favicon-160x160.png}"/>
  <link rel="icon" type="image/png" sizes="192x192" th:href="@{/favicons/favicon-192x192.png}"/>
  <link rel="icon" type="image/png" sizes="196x196" th:href="@{/favicons/favicon-196x196.png}"/>
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" th:content="@{/favicons/ms-icon-144x144.png}"/>
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" type="text/css" asset:href="common.css"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

  <script defer asset:src="runtime.js"></script>
  <script defer asset:src="polyfill.js"></script>
  <script defer asset:src="npm.core-js.js"></script>
  <script defer asset:src="npm.babel.js"></script>
  <script defer asset:src="npm.jquery.js"></script>
  <script defer asset:src="npm.bootstrap.js"></script>
  <script defer asset:src="npm.underscore.js"></script>
  <script defer asset:src="npm.datalist-polyfill.js"></script>
  <script defer asset:src="common.js"></script>
  <script defer asset:src="date-fns-localized.js"></script>

  <th:block th:replace="${scripts}"></th:block>
</head>
<body th:fragment="body(content, scripts)">

<nav th:replace="_navigation::nav">
  navigation block
</nav>


<main th:replace="${content}">
  content block
</main>

<th:block th:replace="${scripts}"></th:block>

</body>
</html>
