<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8" />
  <title>Navigation fragment</title>
</head>
<body>

<th:block th:ref="nav">
  <style>
    #menu-toggle-checkbox ~ label ~ nav .navigation-items {
      overflow: hidden;
      transition: max-height 400ms ease-in;
    }
    #menu-toggle-checkbox:checked ~ label ~ nav .navigation-items {
      max-height: 90vh !important;
    }

    #menu-toggle-checkbox + label > span:first-child {
      width: 30px;
      height: 18px;
      position: relative;
    }

    #menu-toggle-checkbox + label > span > span {
      padding: 0;
      width: 30px;
      height: 4px;
      display: block;
      border-radius: 4px;
      transition: all 0.4s ease-in-out;
      position: absolute;
      background-color: #353535;
    }

    #menu-toggle-checkbox + label > span > span:nth-child(1) {
      top: 0;
      transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
    }

    #menu-toggle-checkbox + label > span > span:nth-child(2) {
      top: 6.5px;
      width: 1px;
      transform: rotate(90deg);
      left: 6.5px;
    }

    #menu-toggle-checkbox + label > span > span:nth-child(3) {
      top: 6.5px;
      right: 0;
      width: 1px;
      left: 6.5px;
    }

    #menu-toggle-checkbox + label > span > span:nth-child(4) {
      bottom: 0;
      top: 6.5px;
    }

    #menu-toggle-checkbox + label > span > span:nth-child(5) {
      bottom: 0;
    }

    #menu-toggle-checkbox:checked + label > span > span:nth-child(1) {
      top: 6.5px;
      background-color: transparent;
    }

    #menu-toggle-checkbox:checked + label > span > span:nth-child(2) {
      left: 0;
      width: 30px;
      transform: rotate(45deg);
    }

    #menu-toggle-checkbox:checked + label > span > span:nth-child(3) {
      left: 0;
      width: 30px;
      transform: rotate(-45deg);
    }

    #menu-toggle-checkbox:checked + label > span > span:nth-child(4) {
      background-color: transparent !important;
    }

    #menu-toggle-checkbox:checked + label > span > span:nth-child(5) {
      bottom: 6.5px;
      background-color: transparent !important;
    }

    .nav-popup-menu::before {
      border: 8px solid transparent;
      border-bottom: 8px solid #3a424e;
      position: absolute;
      top: -15px;
      right: 13px;
      content: "";
    }

    .nav-popup-menu-inner {
      background-color: rgba(31, 41, 55, 0.95);
    }

    @supports ((-webkit-backdrop-filter: initial) or (backdrop-filter: initial)) {
      .nav-popup-menu-inner {
        --uv-backdrop-blur: 12px;
        --uv-backdrop-saturate: 180%;
        -webkit-backdrop-filter: saturate(var(--uv-backdrop-saturate)) blur(var(--uv-backdrop-blur));
        backdrop-filter: saturate(var(--uv-backdrop-saturate)) blur(var(--uv-backdrop-blur));
        background-color: rgba(31, 41, 55, 0.85);
      }
    }
  </style>

  <div class="navigation">
    <input id="menu-toggle-checkbox" type="checkbox" class="tw-hidden" />
    <label
      for="menu-toggle-checkbox"
      class="tw-flex tw-items-center tw-px-4 tw-py-4 tw-absolute tw-top-0 tw-left-0 lg:tw-hidden tw-cursor-pointer"
    >
      <span class="tw-inline-block">
        <span class="hamburger-bar"></span>
        <span class="hamburger-bar"></span>
        <span class="hamburger-bar"></span>
        <span class="hamburger-bar"></span>
        <span class="hamburger-bar"></span>
      </span>
    </label>
    <nav class="tw-max-w-6xl tw-mx-auto">
      <div class="tw-flex tw-w-full tw-bg-gray-100">
        <div class="tw-order-last" role="menubar">
          <div class="tw-p-3 lg:tw-p-2 tw-flex tw-items-center tw-space-x-2">
            <div th:if="${navigationRequestPopupEnabled}" class="tw-relative">
              <button
                id="add-something-new"
                class="tw-border-none tw-text-base tw-bg-transparent tw-flex tw-items-center"
                aria-expanded="false"
                aria-haspopup="true"
                data-test-id="add-something-new"
              >
                <svg
                  th:replace="icon/plus::svg(className='tw-w-7 tw-h-7 tw-text-gray-900 tw-text-opacity-75 hover:tw-text-opacity-100 tw-transition-colors')"
                ></svg>
                <span class="tw-sr-only" th:text="#{nav.add.button.text}"></span>
                <span class="dropdown-caret tw-ml-0.5 tw-mt-0.5"></span>
              </button>
              <div
                id="add-something-new-menu"
                class="
                  nav-popup-menu
                  tw-w-screen
                  tw-absolute
                  tw-right-2
                  tw-top-full
                  tw-mt-1
                  tw-flex
                  tw-justify-end
                  tw-transform
                  tw-origin-top-right
                  tw-transition-transform
                  tw-scale-x-0
                  tw-scale-y-0
                  tw-scale-x-1
                  tw-scale-y-1
                "
                  aria-hidden="true"
                  data-test-id="add-something-new-popupmenu"
                >
                  <div class="tw-inline-block tw-py-1 tw-rounded nav-popup-menu-inner">
                    <ul class="tw-list-none tw-m-0 tw-p-0" role="menu">
                      <li role="none">
                        <a
                          href="#"
                          th:href="@{/web/application/new}"
                          role="menuitem"
                          class="
                            tw-block tw-py-2 tw-px-3 tw-no-underline tw-flex tw-items-center tw-text-white
                            hover:tw-bg-gray-600
                          "
                          data-test-id="quick-add-new-application"
                        >
                          <span
                            class="
                              tw-border
                              tw-border-gray-50
                              tw-border-opacity-25
                              tw-px-2
                              tw-py-1
                              tw-rounded
                              tw-flex
                              tw-items-center
                            "
                          >
                            <svg th:replace="icon/document-text::svg(className='tw-h-5 tw-w-5')"></svg>
                          </span>
                          <span class="tw-ml-3" th:text="#{nav.add.vacation}"></span>
                        </a>
                      </li>
                      <li role="none" sec:authorize="hasAuthority('OFFICE')">
                        <a
                          href="#"
                          th:href="@{/web/sicknote/new}"
                          role="menuitem"
                          class="
                            tw-block tw-py-2 tw-px-3 tw-no-underline tw-flex tw-items-center tw-text-white
                            hover:tw-bg-gray-600
                          "
                          data-test-id="quick-add-new-sicknote"
                        >
                        <span
                          class="
                            tw-border
                            tw-border-gray-50
                            tw-border-opacity-25
                            tw-px-2
                            tw-py-1
                            tw-rounded
                            tw-flex
                            tw-items-center
                          "
                        >
                          <svg th:replace="icon/medkit::svg(className='tw-h-5 tw-w-5')"></svg>
                        </span>
                        <span class="tw-ml-3" th:text="#{nav.add.sicknote}"></span>
                      </a>
                    </li>
                    <li role="none" th:if="${navigationOvertimeItemEnabled}">
                      <a
                        href="#"
                        th:href="@{/web/overtime/new}"
                        role="menuitem"
                        class="
                          tw-block tw-py-2 tw-px-3 tw-no-underline tw-flex tw-items-center tw-text-white
                          hover:tw-bg-gray-600
                        "
                        data-test-id="quick-add-new-overtime"
                      >
                        <span
                          class="
                            tw-border
                            tw-border-gray-50
                            tw-border-opacity-25
                            tw-px-2
                            tw-py-1
                            tw-rounded
                            tw-flex
                            tw-items-center
                          "
                        >
                          <svg th:replace="icon/clock::svg(className='tw-h-5 tw-w-5')"></svg>
                        </span>
                        <span class="tw-ml-3" th:text="#{nav.add.overtime}"></span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <a
              href="#"
              th:href="@{/web/application/new}"
              class="tw-flex tw-items-center"
              data-test-id="new-application"
              th:if="${not navigationRequestPopupEnabled}"
            >
              <svg
                th:replace="icon/plus::svg(className='tw-w-7 tw-h-7 tw-text-gray-900 tw-text-opacity-75 hover:tw-text-opacity-100 tw-transition-colors')"
              ></svg>
              <span class="tw-sr-only" th:text="#{nav.add.vacation}"></span>
            </a>
            <div class="tw-relative">
              <a
                href="#avatar-menu"
                class="tw-no-underline tw-text-gray-800 hover:tw-text-black tw-transition-colors"
                id="avatar-link"
                aria-expanded="false"
                aria-haspopup="true"
                data-test-id="avatar"
              >
                <img
                  src="#"
                  th:src="${menuGravatarUrl + '?d=mm'}"
                  alt=""
                  class="gravatar tw-rounded-full"
                  width="24px"
                  height="24px"
                  onerror="this.src !== '/images/gravatar.jpg' && (this.src = '/images/gravatar.jpg')"
                />
                <span class="dropdown-caret tw-ml-0.5 tw-mt-0.5"></span>
              </a>
              <div
                id="avatar-menu"
                class="nav-popup-menu tw-w-screen tw-absolute tw-right-1 tw-top-full tw-mt-2 tw-flex tw-justify-end tw-transform tw-origin-top-right tw-transition-transform tw-scale-x-0 tw-scale-y-0 tw-scale-x-1 tw-scale-y-1"
                aria-hidden="true"
                data-test-id="avatar-popupmenu"
              >
                <div class="tw-inline-block tw-py-1 tw-rounded nav-popup-menu-inner" style="max-width: 78%">
                  <ul class="tw-list-none tw-m-0 tw-p-0 tw-max-w-xs" role="menu">
                    <li role="none" class="tw-mb-4">
                      <a
                        href="#"
                        th:href="@{/web/person/{userId}/overview(userId=${userId})}"
                        role="menuitem"
                        class="tw-block tw-py-2 tw-pl-5 tw-pr-5 tw-no-underline tw-text-white tw-px-2"
                      >
                        <span class="tw-flex tw-items-center">
                          <img
                            src="#"
                            th:src="${menuGravatarUrl + '?d=mm&s=128'}"
                            alt=""
                            class="gravatar tw-rounded-full"
                            width="64px"
                            height="64px"
                            onerror="this.src !== '/images/gravatar.jpg' && (this.src = '/images/gravatar.jpg')"
                          />
                          <span class="tw-ml-6 tw-flex-1 tw-flex tw-flex-col tw-font-bold">
                            <span class="tw-sr-only" th:text="#{nav.user.title}"></span>
                            <span th:text="${userFirstName}"></span>
                            <span th:text="${userLastName}"></span>
                          </span>
                        </span>
                      </a>
                    </li>
                    <li role="none" class="tw-mb-1">
                      <a
                        th:href="${menuHelpUrl}"
                        role="menuitem"
                        class="tw-w-full tw-block tw-py-2 tw-pl-5 tw-pr-16 tw-text-sm tw-no-underline tw-flex tw-items-center tw-bg-transparent tw-text-white hover:tw-bg-gray-600"
                        target="_blank"
                        rel="noopener"
                      >
                        <span class="tw-border tw-border-gray-50 tw-border-opacity-25 tw-px-2 tw-py-1 tw-rounded tw-flex tw-items-center tw-ml-2.5">
                          <svg th:replace="icon/question-mark-circle::svg(className='tw-w-6 tw-h-6')"></svg>
                        </span>
                        <span class="tw-ml-4 tw-text-base" th:text="#{nav.help.title}"></span>
                        <svg th:replace="icon/external-link::svg(className='tw-ml-1.5 tw-h-4 tw-w-4')"></svg>
                      </a>
                    </li>
                    <li role="none" class="tw-mb-1">
                      <a
                        href="#"
                        th:href="@{/web/person/{userId}(userId=${userId})}"
                        role="menuitem"
                        class="
                          tw-w-full
                          tw-block
                          tw-py-2
                          tw-pl-5
                          tw-pr-16
                          tw-text-sm
                          tw-no-underline
                          tw-flex
                          tw-items-center
                          tw-bg-transparent
                          tw-text-white
                          hover:tw-bg-gray-600"
                      >
                        <span class="tw-flex tw-items-center">
                          <span
                            class="
                              tw-border
                              tw-border-gray-50
                              tw-border-opacity-25
                              tw-px-2
                              tw-py-1
                              tw-rounded
                              tw-flex
                              tw-items-center
                              tw-ml-2.5
                            "
                          >
                            <svg th:replace="icon/user-circle::svg(className='tw-w-6 tw-h-6')"></svg>
                          </span>
                          <span class="tw-ml-4 tw-text-base" th:text="#{nav.account.title}"></span>
                        </span>
                      </a>
                    </li>
                    <li role="none" class="tw-mb-1">
                      <form action="#" th:action="@{/logout}" method="POST" class="tw-ml-auto tw-w-full">
                        <button
                          role="menuitem"
                          type="submit"
                          class="
                            tw-w-full
                            tw-block
                            tw-py-2
                            tw-pl-5
                            tw-pr-16
                            tw-text-sm
                            tw-no-underline
                            tw-flex
                            tw-items-center
                            tw-bg-transparent
                            tw-text-white
                            hover:tw-bg-gray-600
                          "
                          data-test-id="logout"
                        >
                          <span class="tw-flex tw-items-center">
                            <span
                              class="
                                tw-border
                                tw-border-gray-50
                                tw-border-opacity-25
                                tw-px-2
                                tw-py-1
                                tw-rounded
                                tw-flex
                                tw-items-center
                                tw-ml-2.5
                              "
                            >
                              <svg th:replace="icon/logout::svg(className='tw-w-6 tw-h-6')"></svg>
                            </span>
                            <span class="tw-ml-4 tw-text-base" th:text="#{nav.signout.title}"></span>
                          </span>
                        </button>
                      </form>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tw-flex-1 navigation-items tw-mt-12 lg:tw-mt-0 tw-max-h-0 lg:tw-max-h-full">
          <ul
            class="
              tw-list-none tw-m-0 tw-py-3 tw-px-5 tw-flex tw-flex-col tw-space-y-4
              lg:tw-flex-row lg:tw-space-y-0 lg:tw-space-x-8 lg:tw-px-2
              xl:tw-px-0
            "
          >
            <li class="tw-flex tw-items-center">
              <a
                href="#"
                th:href="@{/web/overview}"
                id="home-link"
                class="
                  tw-group tw-inline-block tw-no-underline tw-text-gray-900 tw-text-lg
                  lg:tw-text-base
                  hover:tw-text-blue-400
                  tw-transition-colors
                "
              >
                <span class="tw-flex tw-items-center">
                  <svg
                    th:replace="icon/home::svg(className='tw-w-6 tw-h-6 lg:tw-w-4 lg:tw-h-4 tw-text-gray-900 tw-text-opacity-50 group-hover:tw-text-blue-400 tw-transition-colors')"
                  ></svg>
                  <span
                    class="tw-ml-5 lg:tw-ml-2 lg:tw-sr-only xl:tw-not-sr-only xl:tw-ml-2"
                    th:text="#{nav.home.title}"
                  ></span>
                </span>
              </a>
            </li>
            <li class="tw-flex tw-items-center" sec:authorize="hasAuthority('USER')">
              <a
                href="#"
                th:href="@{/web/application/new}"
                id="application-new-link"
                class="
                  tw-group tw-inline-block tw-no-underline tw-text-gray-900 tw-text-lg
                  lg:tw-text-base
                  hover:tw-text-blue-400
                  tw-transition-colors
                "
              >
                <span class="tw-flex tw-items-center">
                  <svg
                    th:replace="icon/plus-circle::svg(className='tw-w-6 tw-h-6 lg:tw-w-4 lg:tw-h-4 tw-text-gray-900 tw-text-opacity-50 group-hover:tw-text-blue-400 tw-transition-colors')"
                  ></svg>
                  <span class="tw-ml-5 lg:tw-ml-2" th:text="#{nav.apply.title}"></span>
                </span>
              </a>
            </li>
            <li class="tw-flex tw-items-center">
              <a
                href="#"
                th:href="@{/web/application}"
                class="
                  tw-group tw-inline-block tw-no-underline tw-text-gray-900 tw-text-lg
                  lg:tw-text-base
                  hover:tw-text-blue-400
                  tw-transition-colors
                "
              >
                <span class="tw-flex tw-items-center">
                  <svg
                    th:replace="icon/calendar::svg(className='tw-w-6 tw-h-6 lg:tw-w-4 lg:tw-h-4 tw-text-gray-900 tw-text-opacity-50 group-hover:tw-text-blue-400 tw-transition-colors')"
                  ></svg>
                  <span class="tw-ml-5 lg:tw-ml-2" th:text="#{nav.vacation.title}"></span>
                </span>
              </a>
            </li>
            <li class="tw-flex tw-items-center" sec:authorize="hasAuthority('OFFICE')">
              <a
                href="#"
                th:href="@{/web/sicknote}"
                class="
                  tw-group tw-inline-block tw-no-underline tw-text-gray-900 tw-text-lg
                  lg:tw-text-base
                  hover:tw-text-blue-400
                  tw-transition-colors
                "
                data-test-id="navigation-sick-notes-link"
              >
                <span class="tw-flex tw-items-center">
                  <svg
                    th:replace="icon/medkit::svg(className='tw-w-6 tw-h-6 lg:tw-w-4 lg:tw-h-4 tw-text-gray-900 tw-text-opacity-50 group-hover:tw-text-blue-400 tw-transition-colors')"
                  ></svg>
                  <span class="tw-ml-5 lg:tw-ml-2" th:text="#{nav.sicknote.title}"></span>
                </span>
              </a>
            </li>
            <li
              class="tw-flex tw-items-center"
              sec:authorize="hasAnyAuthority('DEPARTMENT_HEAD', 'BOSS', 'OFFICE', 'SECOND_STAGE_AUTHORITY')"
            >
              <a
                href="#"
                th:href="@{/web/person(active=true)}"
                class="
                  tw-group tw-inline-block tw-no-underline tw-text-gray-900 tw-text-lg
                  lg:tw-text-base
                  hover:tw-text-blue-400
                  tw-transition-colors
                "
              >
                <span class="tw-flex tw-items-center">
                  <svg
                    th:replace="icon/user::svg(className='tw-w-6 tw-h-6 lg:tw-w-4 lg:tw-h-4 tw-text-gray-900 tw-text-opacity-50 group-hover:tw-text-blue-400 tw-transition-colors')"
                  ></svg>
                  <span class="tw-ml-5 lg:tw-ml-2" th:text="#{nav.person.title}"></span>
                </span>
              </a>
            </li>
            <li class="tw-flex tw-items-center" sec:authorize="hasAnyAuthority('BOSS', 'OFFICE')">
              <a
                href="#"
                th:href="@{/web/department}"
                class="
                  tw-group tw-inline-block tw-no-underline tw-text-gray-900 tw-text-lg
                  lg:tw-text-base
                  hover:tw-text-blue-400
                  tw-transition-colors
                "
              >
                <span class="tw-flex tw-items-center">
                  <svg
                    th:replace="icon/user-group::svg(className='tw-w-6 tw-h-6 lg:tw-w-4 lg:tw-h-4 tw-text-gray-900 tw-text-opacity-50 group-hover:tw-text-blue-400 tw-transition-colors')"
                  ></svg>
                  <span class="tw-ml-5 lg:tw-ml-2" th:text="#{nav.department.title}"></span>
                </span>
              </a>
            </li>
            <li class="tw-flex tw-items-center" sec:authorize="hasAuthority('OFFICE')">
              <a
                href="#"
                th:href="@{/web/settings}"
                class="
                  tw-group tw-inline-block tw-no-underline tw-text-gray-900 tw-text-lg
                  lg:tw-text-base
                  hover:tw-text-blue-400
                  tw-transition-colors
                "
                data-test-id="navigation-settings-link"
              >
                <span class="tw-flex tw-items-center">
                  <svg
                    th:replace="icon/cog::svg(className='tw-w-6 tw-h-6 lg:tw-w-4 lg:tw-h-4 tw-text-gray-900 tw-text-opacity-50 group-hover:tw-text-blue-400 tw-transition-colors')"
                  ></svg>
                  <span class="tw-ml-5 lg:tw-ml-2" th:text="#{nav.settings.title}"></span>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="tw-flex tw-w-full lg:tw-hidden">
        <div class="tw-w-4 tw-bg-gray-100">
          <div class="tw-h-4 tw-rounded-tl-full tw-bg-white"></div>
        </div>
        <div class="tw-flex-1"></div>
        <div class="tw-w-4 tw-bg-gray-100">
          <div class="tw-h-4 tw-rounded-tr-full tw-bg-white"></div>
        </div>
      </div>
    </nav>
  </div>
  <div style="height: 48px; margin-bottom: 2rem"></div>
</th:block>

</body>
</html>
